/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
:root {
	--primary: #333;
	--secondary: #ddd;
	--text-color: #ddd;
	--max-width: 100ch;
}

html{
	scroll-behavior: smooth;
	
}
body {
	font-family: "Times New Roman";
	margin: auto;
	padding: 20px;
	max-width: var(--max-width);
	background-image: linear-gradient(to top right,gray,var(--primary));
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: var(--text-color);
}
h1{
	color: var(--text-color);
}	
h2{
	color: var(--text-color);
}	
b {
	color: #222;
}
a {
	color: darkgray;
}
nav a {
	margin-right: 10px;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
content {
	line-height: 1.6;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
code {
	padding: 2px 5px;
	background-color: #f2f2f2;
}
pre {
	padding: 1rem;
}
pre > code {
	all: unset;
}
ul {
	color:  var(--secondary);
}
blockquote {
	border: 1px solid #999;
	color: #222;
	padding: 2px 0px 2px 20px;
	margin: 0px;
	font-style: italic;
}

.white-text{
	color: var(--secondary);
}

section {
	padding-bottom: 25ch;
}