---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<p>
				Welcome to my personal website where I will tell my programming story.
				This is this page will work as the Table of Context for my site where you can read descriptions on each page. 
			</p>
			<h2>Projects</h2>
			<p>
				This is the page where I will post my project with descriptions and links to my code. 
			</p>
			<h2>About Me</h2>
			<p>
				This is the page and will work as the Table of Context for my site. 
			</p>
			<h2>Github</h2>
			<p>
				This is a external link for my Github account. 
			</p>
			<h2>Linkedin</h2>
			<p>
				This is a external link for my Linkedin account. 
			</p>
		</main>
		<Footer />
	</body>
</html>
