---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import ProjectSection from "../components/ProjectSection.astro";
import Links from "../components/Links.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script>
      import Aos from "aos";

      Aos.init({ duration: 1500 });
    </script>
  </head>
  <body>
    <Links />
    <Header />
    <section>
      <ProjectSection />
      <Footer />
    </section>
    <style>
      body nav {
        position: sticky;
      }
    </style>
  </body>
</html>
