---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import ProjectSection from "../components/ProjectSection.astro";
import Links from "../components/Links.astro";
import Header from "../components/Header.astro";
import ProProjectsSection from "../components/ProProjectsSection.astro";
import SkillSection from "../components/SkillSection.astro";
import { Content as AboutMe } from "../components/AboutMe.md";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script>
      import Aos from "aos";

      Aos.init({ duration: 2000 });
    </script>
  </head>
  <body>
    <Links />
    <Header />
    <SkillSection />
    <ProProjectsSection />
    <ProjectSection />
    <AboutMe />
    <Footer />
    <style></style>
  </body>
</html>
