---
const { imageSrc, href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  <img src={imageSrc} alt="" style="width:100px;height:100px;" />
</a>
<style>
  img {
    border-radius: 25px;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: gray;
    opacity: 0.75;
  }
  a:hover {
    opacity: 1;
  }
</style>
