---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
---

<header>
  <nav class="hover">
    <div data-aos="fade-up-left">
      <HeaderLink
        imageSrc="github.jpg"
        href="https://github.com/TextuarySolid45"
        target="_blank">GitHub</HeaderLink
      >
    </div>
    <div data-aos="fade-up-right">
      <HeaderLink
        imageSrc="linkedin.png"
        href="https://www.linkedin.com/in/gabriel-lopez-1239a41a4/"
        target="_blank">Linkedin</HeaderLink
      >
    </div>
  </nav>
</header>
<style>
  header {
    position: sticky;
    top: 0;
    z-index: 100;
  }
  nav {
    display: flex;
    padding-top: 5ch;
  }
</style>
