---
---

<section>
  <div>
    <h1 data-aos="zoom-in-up" style="font-size: xx-large;">
      Professional Projects
    </h1>

    <h2 data-aos="zoom-in-up">Client</h2>
    <h3 data-aos="zoom-in-up">Verys</h3>
    <h2 data-aos="zoom-in-up">Project Name</h2>
    <h3 data-aos="zoom-in-up">Shelby</h3>
    <h2 data-aos="zoom-in-up">Project Description</h2>
    <h3 data-aos="zoom-in-up">
      Central API gateway for camunda workflow which would gather tax and
      property information about for the creation of home titles.
    </h3>
    <h2 data-aos="zoom-in-up">Cloud Provider</h2>
    <h3 data-aos="zoom-in-up">AWS</h3>
    <h2 data-aos="zoom-in-up">CICD</h2>
    <h3 data-aos="zoom-in-up">Github/Jenkins/ECR/ECS</h3>
    <h2 data-aos="zoom-in-up">AWS Services used</h2>
    <h3 data-aos="zoom-in-up">
      API Gateway, AppSync, Lambda, ECR, ECS, IAM, WAF
    </h3>
    <h2 data-aos="zoom-in-up">My Role</h2>
    <h3 data-aos="zoom-in-up">
      I started this project as a combo Quality Assurance and Software engineer.
      This means that I split time between both roles.
    </h3>
    <h2 data-aos="zoom-in-up">Languages used</h2>
    <h3 data-aos="zoom-in-up">Python, DotNet</h3>

    <h2 data-aos="zoom-in-up">Client</h2>
    <h3 data-aos="zoom-in-up">West Monroe</h3>
    <h2 data-aos="zoom-in-up">Project Name</h2>
    <h3 data-aos="zoom-in-up">Fortune Teller</h3>
    <h2 data-aos="zoom-in-up">Project Description</h2>
    <h3 data-aos="zoom-in-up">
      Inventory app for a international enterprise organization.
    </h3>
    <h2 data-aos="zoom-in-up">Cloud Provider</h2>
    <h3 data-aos="zoom-in-up">GCP</h3>
    <h2 data-aos="zoom-in-up">CICD</h2>
    <h3 data-aos="zoom-in-up">Github Actions/GCP</h3>
    <h2 data-aos="zoom-in-up">Services used</h2>
    <h3 data-aos="zoom-in-up">Kubernetes, Docker,</h3>
    <h2 data-aos="zoom-in-up">My Role</h2>
    <h3 data-aos="zoom-in-up">
      I have a dual role where I oversee all QA activity on this project and
      develop at the same time.
    </h3>
    <h2 data-aos="zoom-in-up">Languages used</h2>
    <h3 data-aos="zoom-in-up">Php, Go, Javascript</h3>
  </div>
</section>
<style>
  h1 {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5ch;
  }
  h2,
  h3 {
    margin: 0 auto;
    text-align: center;
    padding-top: 1ch;
    padding-bottom: 1ch;
  }
  section {
    padding-top: 75ch;
  }
</style>
