---
---

<section>
  <div>
    <h1 data-aos="zoom-in-up" style="font-size: xx-large;">
      Professional Projects
    </h1>

    <h2 data-aos="zoom-in-up">Client</h2>
    <h3 data-aos="zoom-in-up">First American</h3>
    <h2 data-aos="zoom-in-up">Project Name</h2>
    <h3 data-aos="zoom-in-up">Shelby</h3>
    <h2 data-aos="zoom-in-up">Project Description</h2>
    <h3 data-aos="zoom-in-up">
      A central API gateway for a Camunda workflow which would gather tax and
      property information to automate the creation of home titles.
    </h3>
    <h2 data-aos="zoom-in-up">Cloud Provider</h2>
    <h3 data-aos="zoom-in-up">AWS</h3>
    <h2 data-aos="zoom-in-up">CICD</h2>
    <h3 data-aos="zoom-in-up">Github/Jenkins/ECR/ECS</h3>
    <h2 data-aos="zoom-in-up">AWS Services used</h2>
    <h3 data-aos="zoom-in-up">
      API Gateway, AppSync, Lambda, ECR, ECS, IAM, WAF
    </h3>
    <h2 data-aos="zoom-in-up">My Role</h2>
    <h3 data-aos="zoom-in-up">
      I started this project as a combo Quality Assurance and Software engineer.
      After 6 months, I became a full time Software engineer. I contributed to
      all phases of the project. I wrote GraphQL Apis using both Python and Dot
      Net as well as used Jenkins to test and deploy my code. The Camunda
      Workflow used the api's to gather information from a variety of sources
      one of which used OCR to pull information from pdf documents to build a
      titles for a house. We used an Agile workflow where I averaged 6 points a
      sprint where 5 was what the average developer was supposed to accomplish
      during the sprint.
    </h3>
    <h2 data-aos="zoom-in-up">Languages used</h2>
    <h3 data-aos="zoom-in-up">Python, DotNet</h3>

    <h2 data-aos="zoom-in-up">Client</h2>
    <h3 data-aos="zoom-in-up">NEP Group</h3>
    <h2 data-aos="zoom-in-up">Project Name</h2>
    <h3 data-aos="zoom-in-up">Fortune Teller</h3>
    <h2 data-aos="zoom-in-up">Project Description</h2>
    <h3 data-aos="zoom-in-up">
      A custom inventory application for a international enterprise
      organization.
    </h3>
    <h2 data-aos="zoom-in-up">Cloud Provider</h2>
    <h3 data-aos="zoom-in-up">GCP</h3>
    <h2 data-aos="zoom-in-up">CICD</h2>
    <h3 data-aos="zoom-in-up">Github Actions/Kubernetes Clusters</h3>
    <h2 data-aos="zoom-in-up">Services used</h2>
    <h3 data-aos="zoom-in-up">Kubernetes, Docker</h3>
    <h2 data-aos="zoom-in-up">My Role</h2>
    <h3 data-aos="zoom-in-up">
      This is my current project. I have a dual role where I oversee all QA
      activity on this project and develop at the same time. On the QA side, I
      have one person who helps me complete all standard checks before we pass
      tickets. This includes maintaining a postman collection and using that
      collection to run integration tests for our apis and then manually testing
      the UI. I am able to do this and write code in JavaScript for the front
      end, PHP for the backend and Go for our custom rules engine. We use Docker
      for all of our microservices so I am able to locally recreate any issue
      that we may find on my machine. I believe this dual role puts me in a
      great place as I can see and solve that problem without having to go to
      other developers. I can also spot bugs and suggest fixes for them in the
      tickets without assistance and I believe that only imporoves the projects
      I am on. We currently run a Agile workflow where I average 6 points as the
      only QA/developer on the team where a regular developer averages 10
      points.
    </h3>
    <h2 data-aos="zoom-in-up">Languages used</h2>
    <h3 data-aos="zoom-in-up">Php, Go, Javascript</h3>
  </div>
</section>
<style>
  h1 {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 5ch;
  }
  h3 {
    margin: 0 auto;
    text-align: center;
    padding-top: 1ch;
    padding-bottom: 1ch;
    color: #fffff0;
  }
  section {
    text-align: center;
  }
</style>
