---
---

<script>
  import Aos from "aos";

  Aos.init({ duration: 1500 });
</script>
<section>
  <div>
    <h1 data-aos="zoom-in-up">Skills</h1>

    <h2 data-aos="zoom-in-up">Client</h2>
    <h3 data-aos="zoom-in-up">Verys</h3>
    <h2 data-aos="zoom-in-up">Project Name</h2>
    <h3 data-aos="zoom-in-up">Shelby</h3>
  </div>
</section>
<style>
  h1 {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10ch;
  }
  h2,
  h3 {
    margin: 0 auto;
    text-align: center;
    padding-top: 1ch;
    padding-bottom: 1ch;
  }
</style>
